extends layouts/layout
include mixins/videoBlock

block content
  .videos
    h1 Home
    each video in videos
      +videoBlock({
        videoFile: video.fileUrl,
        title: video.title,
        description: video.description,
        id: video.id
      })