extends layouts/layout
include mixins/videoBlock

block content
  .videos
    h1 Home
    each movie in videos
      +videoBlock({
        videoFile: movie.fileUrl,
        title: movie.title,
        description: movie.description,
        id: movie.id
      })