extends layouts/layout
include mixins/videoBlock

block content
  .videos
    each movie in audios
      +videoBlock({
        audio: movie.audio,
        title: movie.title,
        description: movie.description
      })