header.header
  .header__column
    span â¤
  .header__column
    form(action=routes.search, method="get") 
      input(type="text", name="searchTerm")
  .header__column
    ul
      li 
        a(href=routes.login) login
      li 
        a(href=routes.join) join